<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="icon-holder">
        <a href="#"><img src="../../../assets/images/toplogo.png" height="100px" width="150px"></a>
    </div>
    <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
            <a href="#" class="nav-link" style="color: white;">Home</a>
        </li>
        <li class="nav-item"> 
            <a href="#" class="nav-link" style="color: white;">About</a>
        </li>
        <li class="nav-item"> 
            <a href="#" class="nav-link" style="color: white;">Pricing</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" style="color: white;">Contact</a>
        </li>
    </ul>
    <div class="login-holder" style="border-radius: 0%; margin-left: 10px;">
        <a routerLink="/login" class="btn btn-outline-secondary nav-link" style="color: white;" id="login-button">Login</a>
    </div>
    <div class="login-holder" style="border-radius: 0%; margin-left: 10px;">
      <a routerLink="/register" class="btn btn-outline-secondary nav-link" style="color: white;" id="login-button">Register</a>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Fresh Hamper</h1>      
      <p>Fresh Hamper TagLine Goes Here</p>
    </div>
</div>
<div class="container-fluid">
    
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img src="../../../assets/images/time.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="https://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <h2>Schedule</h2>
            <p>Just fill in the form with your details and we will come pick up the desired laundry items.</p>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="../../../assets/images/washing.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="https://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <h2>Laundry</h2>
            <p>Our professional and expert team cleans your laundry to ensure that quality of your articles is maintained.</p>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="../../../assets/images/product.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="https://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <h2>Laundry Delivery</h2>
            <p>Once your laundry is clean. It will be delievered back to your specified address at your specified time, and just like that clean laundry.</p>
           
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
      </div><!-- /.container -->
      <div class="container">
          <div class="row">
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Individual Pricing</h1>
                <p class="lead"></p>
            </div>
          </div>
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Standard</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$29.99<small class="text-muted">/20lbs</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Pick-up and delivery </li>
                    <li>Within 20 mile radius</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Schedule</button>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Small Family</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$39.99<small class="text-muted">/30lbs</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Pick-up and delivery </li>
                    <li>Within 20 mile radius</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Schedule</button>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Premium Express</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$49.99<small class="text-muted">/40lbs</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Pick-up and delivery </li>
                    <li>Within 20 mile radius</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Schedule</button>
              </div>

              
            </div>
            <div class="container">
                <div class="row">
                  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                      <h1 class="display-4">Cooperate Pricing</h1>
                      <p class="lead"></p>
                    </div>
                </div>
      
                <div class="card-deck mb-3 text-center">
                  <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Standard</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">12.99<small class="text-muted">/20lbs</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Pick-up and delivery </li>
                        <li>Within 20 mile radius</li>
                        
                      </ul>
                      <button type="button" class="btn btn-lg btn-block btn-primary">Schedule</button>
                    </div>
                  </div>
                  <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Large</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">$29.99<small class="text-muted">/30lbs</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Pick-up and delivery </li>
                        <li>Within 20 mile radius</li>
                      </ul>
                      <button type="button" class="btn btn-lg btn-block btn-primary">Schedule</button>
                    </div>
                  </div>
                  <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Premium Express</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">$39.99<small class="text-muted">/40lbs</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Pick-up and delivery </li>
                        <li>Within 20 mile radius</li>
                      </ul>
                      <button type="button" class="btn btn-lg btn-block btn-primary">Schedule</button>
                    </div>
      
                    
                  </div>
      </div>
</div>
</div>
</div>
</div>
<div class="footer">
    <div class="row">
      <div class="clear"></div>
        <div class="col-md-6">
            <div>
              <div>
                <h2>Contact Us</h2>
              </div>
               <div>
                  <address>
                  Visit us at:<br>
                  3135 IN-267 Suite B<br>
                  Brownsburg<br>
                  IN 46112 <br>
                  </address>
               </div>
               <div>
                <address>
                  Email Us: <a href="mailto:support@thefreshhamper.com">support@thefreshhamper.com</a>.<br>
                  Call Us On: (800) 674-6641<br>
                  Call Us On: (317) 286-7220<br>
                </address>
              </div>
            </div>
           
        </div>
        <div class="col-md-4">
            <div class="form-container">
                <form>
                    <div class="form-group">
                        <input type="text" name="name" style="border-radius: 0%;" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="surname" style="border-radius: 0%;" class="form-control" placeholder="Surame">
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" style="border-radius: 0%;" class="form-control" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <textarea type="textarea" name="message" style="border-radius: 0%;" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" style="border-radius: 0%;" class="btn btn-outline-primary">Send Message</button>
                </form>
            </div>
            
        </div>
    </div>
</div>
