<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="icon-holder">
        <a href="#"><img src="../../../assets/images/toplogo.png" height="100px" width="150px"></a>
    </div>
  
    <div class="login-holder" style="border-radius: 0%; margin-left: 10px;float: right;">
        <a routerLink="/login" class="btn btn-outline-secondary nav-link" style="color: white; " id="login-button">Logout</a>
    </div>
    <div class="login-holder" style="border-radius: 0%; margin-left: 10px;">
     
    </div>
</nav>
<div class="sidebar">
    <a routerLink="/adminorders">Orders</a>
    <a routerLink="/admincustomers">Customers</a>
    <a class="active" routerLink="/adminmail">Mail List</a>
    <a  routerLink="/adminmessages">Messages</a>
</div>
<div class="container">
    <div class="row">
        <div class="clear"></div>
        <div class="col-md-6">
            <h2>Promotion Subscriptions</h2>
        </div>
        <div class="col-md-6">
            
        </div>
        <div class="col-md-12">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Client Name</th>
                        <th>Email</th>
                        <th>Date Subscribed</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
        </div>
       
    </div>
</div>